@-webkit-keyframes rotate_clockwise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-moz-keyframes rotate_clockwise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-o-keyframes rotate_clockwise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes rotate_clockwise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes rotate_counterclockwise {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

@-moz-keyframes rotate_counterclockwise {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

@-o-keyframes rotate_counterclockwise {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

@keyframes rotate_counterclockwise {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
