@import url("https://fonts.googleapis.com/css?family=Megrim");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
@-webkit-keyframes rotate_clockwise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-moz-keyframes rotate_clockwise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-o-keyframes rotate_clockwise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes rotate_clockwise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes rotate_counterclockwise {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

@-moz-keyframes rotate_counterclockwise {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

@-o-keyframes rotate_counterclockwise {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

@keyframes rotate_counterclockwise {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

@-webkit-keyframes right_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(190px); } }

@-moz-keyframes right_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(190px); } }

@-o-keyframes right_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(190px); } }

@keyframes right_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(190px); } }

@-webkit-keyframes left_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-180px); } }

@-moz-keyframes left_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-180px); } }

@-o-keyframes left_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-180px); } }

@keyframes left_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-180px); } }

@-webkit-keyframes pink_neon_flicker {
  from {
    color: grey;
    text-shadow: none; }
  to {
    color: #fdebfd;
    text-shadow: 0 0 20px #da36d9, 0 0 10px #fdebfd, 0 0 40px #F33CF2, 0 0 70px #da36d9, 0 0 80px #da36d9, 0 0 100px #da36d9, 0 0 130px #da36d9; } }

@-moz-keyframes pink_neon_flicker {
  from {
    color: grey;
    text-shadow: none; }
  to {
    color: #fdebfd;
    text-shadow: 0 0 20px #da36d9, 0 0 10px #fdebfd, 0 0 40px #F33CF2, 0 0 70px #da36d9, 0 0 80px #da36d9, 0 0 100px #da36d9, 0 0 130px #da36d9; } }

@-o-keyframes pink_neon_flicker {
  from {
    color: grey;
    text-shadow: none; }
  to {
    color: #fdebfd;
    text-shadow: 0 0 20px #da36d9, 0 0 10px #fdebfd, 0 0 40px #F33CF2, 0 0 70px #da36d9, 0 0 80px #da36d9, 0 0 100px #da36d9, 0 0 130px #da36d9; } }

@keyframes pink_neon_flicker {
  from {
    color: grey;
    text-shadow: none; }
  to {
    color: #fdebfd;
    text-shadow: 0 0 20px #da36d9, 0 0 10px #fdebfd, 0 0 40px #F33CF2, 0 0 70px #da36d9, 0 0 80px #da36d9, 0 0 100px #da36d9, 0 0 130px #da36d9; } }

@-webkit-keyframes tilt_motion {
  20% {
    transform: translateY(190px) rotate(-10deg);
    transform-origin: center; }
  70% {
    transform: translateY(190px) rotate(10deg);
    transform-origin: center; }
  100% {
    transform: translateY(190px); } }

@-moz-keyframes tilt_motion {
  20% {
    transform: translateY(190px) rotate(-10deg);
    transform-origin: center; }
  70% {
    transform: translateY(190px) rotate(10deg);
    transform-origin: center; }
  100% {
    transform: translateY(190px); } }

@-o-keyframes tilt_motion {
  20% {
    transform: translateY(190px) rotate(-10deg);
    transform-origin: center; }
  70% {
    transform: translateY(190px) rotate(10deg);
    transform-origin: center; }
  100% {
    transform: translateY(190px); } }

@keyframes tilt_motion {
  20% {
    transform: translateY(190px) rotate(-10deg);
    transform-origin: center; }
  70% {
    transform: translateY(190px) rotate(10deg);
    transform-origin: center; }
  100% {
    transform: translateY(190px); } }

@-webkit-keyframes spin_logo {
  30% {
    transform: translate(-10px, 400px) rotate(360deg);
    transform-origin: bottom;
    z-index: 1;
    width: 55px; }
  100% {
    transform: translate(20px, 515px) rotate(17deg);
    transform-origin: center;
    width: 70px;
    z-index: 1; } }

@-moz-keyframes spin_logo {
  30% {
    transform: translate(-10px, 400px) rotate(360deg);
    transform-origin: bottom;
    z-index: 1;
    width: 55px; }
  100% {
    transform: translate(20px, 515px) rotate(17deg);
    transform-origin: center;
    width: 70px;
    z-index: 1; } }

@-o-keyframes spin_logo {
  30% {
    transform: translate(-10px, 400px) rotate(360deg);
    transform-origin: bottom;
    z-index: 1;
    width: 55px; }
  100% {
    transform: translate(20px, 515px) rotate(17deg);
    transform-origin: center;
    width: 70px;
    z-index: 1; } }

@keyframes spin_logo {
  30% {
    transform: translate(-10px, 400px) rotate(360deg);
    transform-origin: bottom;
    z-index: 1;
    width: 55px; }
  100% {
    transform: translate(20px, 515px) rotate(17deg);
    transform-origin: center;
    width: 70px;
    z-index: 1; } }

@-webkit-keyframes pompom_shine {
  20% {
    visibility: visible; }
  40% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF; }
  60% {
    visibility: visible;
    color: grey; }
  100% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF;
    font-size: 1.5em; } }

@-moz-keyframes pompom_shine {
  20% {
    visibility: visible; }
  40% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF; }
  60% {
    visibility: visible;
    color: grey; }
  100% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF;
    font-size: 1.5em; } }

@-o-keyframes pompom_shine {
  20% {
    visibility: visible; }
  40% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF; }
  60% {
    visibility: visible;
    color: grey; }
  100% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF;
    font-size: 1.5em; } }

@keyframes pompom_shine {
  20% {
    visibility: visible; }
  40% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF; }
  60% {
    visibility: visible;
    color: grey; }
  100% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF;
    font-size: 1.5em; } }

@-webkit-keyframes hovering {
  from {
    transform: translate(-180px, -200px); }
  to {
    transform: translate(-180px, -220px); } }

@-moz-keyframes hovering {
  from {
    transform: translate(-180px, -200px); }
  to {
    transform: translate(-180px, -220px); } }

@-o-keyframes hovering {
  from {
    transform: translate(-180px, -200px); }
  to {
    transform: translate(-180px, -220px); } }

@keyframes hovering {
  from {
    transform: translate(-180px, -200px); }
  to {
    transform: translate(-180px, -220px); } }

@-webkit-keyframes sparkling {
  from {
    transform: translateY(-780px); }
  to {
    transform: translateY(-680px);
    visibility: visible; } }

@-moz-keyframes sparkling {
  from {
    transform: translateY(-780px); }
  to {
    transform: translateY(-680px);
    visibility: visible; } }

@-o-keyframes sparkling {
  from {
    transform: translateY(-780px); }
  to {
    transform: translateY(-680px);
    visibility: visible; } }

@keyframes sparkling {
  from {
    transform: translateY(-780px); }
  to {
    transform: translateY(-680px);
    visibility: visible; } }

@-webkit-keyframes moving_hands {
  from {
    transform: translate(-69px, 20px); }
  to {
    transform: translate(-69px, 90px); } }

@-moz-keyframes moving_hands {
  from {
    transform: translate(-69px, 20px); }
  to {
    transform: translate(-69px, 90px); } }

@-o-keyframes moving_hands {
  from {
    transform: translate(-69px, 20px); }
  to {
    transform: translate(-69px, 90px); } }

@keyframes moving_hands {
  from {
    transform: translate(-69px, 20px); }
  to {
    transform: translate(-69px, 90px); } }

@-webkit-keyframes cloud {
  0% {
    width: 0px;
    filter: brightness(0.2); }
  30% {
    width: 400px;
    filter: brightness(0.2); }
  50% {
    filter: brightness(1); }
  70% {
    filter: brightness(0.2); }
  90% {
    filter: brightness(1); }
  100% {
    width: 400px;
    filter: brightness(0.2); } }

@-moz-keyframes cloud {
  0% {
    width: 0px;
    filter: brightness(0.2); }
  30% {
    width: 400px;
    filter: brightness(0.2); }
  50% {
    filter: brightness(1); }
  70% {
    filter: brightness(0.2); }
  90% {
    filter: brightness(1); }
  100% {
    width: 400px;
    filter: brightness(0.2); } }

@-o-keyframes cloud {
  0% {
    width: 0px;
    filter: brightness(0.2); }
  30% {
    width: 400px;
    filter: brightness(0.2); }
  50% {
    filter: brightness(1); }
  70% {
    filter: brightness(0.2); }
  90% {
    filter: brightness(1); }
  100% {
    width: 400px;
    filter: brightness(0.2); } }

@keyframes cloud {
  0% {
    width: 0px;
    filter: brightness(0.2); }
  30% {
    width: 400px;
    filter: brightness(0.2); }
  50% {
    filter: brightness(1); }
  70% {
    filter: brightness(0.2); }
  90% {
    filter: brightness(1); }
  100% {
    width: 400px;
    filter: brightness(0.2); } }

.name__logo {
  width: 50px;
  display: block;
  margin: auto;
  padding-top: 6px;
  transform: translate(-10px);
  position: relative;
  padding-top: 15px;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: none;
  -moz-animation-iteration-count: none;
  -o-animation-iteration-count: none;
  animation-iteration-count: none;
  -webkit-animation-name: spin_logo;
  -moz-animation-name: spin_logo;
  -o-animation-name: spin_logo;
  animation-name: spin_logo;
  -webkit-animation-direction: linear;
  -moz-animation-direction: linear;
  -o-animation-direction: linear;
  animation-direction: linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  height: 80px; }

.name__title {
  display: block;
  margin: auto;
  padding-bottom: 10px;
  font-family: "Megrim", sans-serif;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 0.7em;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 5;
  -moz-animation-iteration-count: 5;
  -o-animation-iteration-count: 5;
  animation-iteration-count: 5;
  -webkit-animation-name: pink_neon_flicker;
  -moz-animation-name: pink_neon_flicker;
  -o-animation-name: pink_neon_flicker;
  animation-name: pink_neon_flicker;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.menu {
  height: 1100px; }

.menu-list {
  list-style: none;
  font-family: "Cutive Mono", cursive;
  color: grey;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 8px; }

.menu-list__item {
  display: inline;
  font-size: 1.3em;
  letter-spacing: 2px;
  transition: 0.5s ease-in-out;
  z-index: 2; }
  .menu-list__item:hover {
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF;
    letter-spacing: 5px;
    cursor: pointer; }

.menu-list__item-one {
  margin-right: 70px;
  transform: translateY(40px); }
  .menu-list__item-one:hover ~ .menu-list__arrow {
    transform: translate(-85px, 187px) rotate(53deg);
    transform-origin: 162px 45%; }

.menu-list__item-two {
  margin-right: 70px;
  transition: 0.3s ease-in-out; }
  .menu-list__item-two:hover ~ .menu-list__arrow {
    transform: translate(-85px, 187px) rotate(90deg);
    transform-origin: 162px 45%; }

.menu-list__item-three {
  transform: translateY(40px);
  transition: 0.3s ease-in-out; }
  .menu-list__item-three:hover ~ .menu-list__arrow {
    transform: translate(-85px, 187px) rotate(130deg);
    transform-origin: 162px 45%; }

.menu__elevator--job-title {
  display: block;
  margin: auto;
  font-family: "Megrim", sans-serif;
  font-size: 1.8em;
  transform: translateY(-110%);
  line-height: 160px;
  width: 350px;
  height: 260px;
  background-image: url("../../image/dark_wood.png");
  background-size: 400px;
  text-align: center;
  position: relative;
  z-index: -1;
  color: grey; }

.menu__elevator--glasses {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 130px;
  z-index: 1;
  transform: translateY(190px);
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: tilt_motion;
  -moz-animation-name: tilt_motion;
  -o-animation-name: tilt_motion;
  animation-name: tilt_motion;
  -webkit-animation-direction: linear;
  -moz-animation-direction: linear;
  -o-animation-direction: linear;
  animation-direction: linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
  filter: brightness(0.5) drop-shadow(16px 16px 20px black); }

.menu__elevator--character {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 280px;
  transform: translateY(131px);
  z-index: 1;
  filter: brightness(0.6) drop-shadow(16px 16px 20px black) contrast(120%); }

.menu__elevator--pompom {
  visibility: hidden;
  display: block;
  margin: auto;
  position: relative;
  z-index: 2;
  transform: translate(26px, -136px);
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: pompom_shine;
  -moz-animation-name: pompom_shine;
  -o-animation-name: pompom_shine;
  animation-name: pompom_shine;
  -webkit-animation-direction: linear;
  -moz-animation-direction: linear;
  -o-animation-direction: linear;
  animation-direction: linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  font-family: "Cutive Mono", cursive; }

#menu__elevator {
  display: block;
  margin: auto;
  width: 690px;
  height: 530px;
  filter: drop-shadow(10px 10px 15px black); }

.menu_elevator--woodpanel {
  width: 720px;
  height: 15px;
  background-color: #294F7A;
  display: block;
  margin: auto;
  transform: translateY(-15px);
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px; }

.menu-list__arrow {
  z-index: 2;
  background-image: url("../../image/arrow.svg");
  width: 170px;
  height: 26px;
  background-size: 170px;
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(-85px, 187px) rotate(1deg);
  transform-origin: 162px 45%;
  transition: 1s ease-in-out; }

.menu-list__level {
  position: absolute;
  font-family: "Cutive Mono", cursive;
  font-size: 1.3em;
  transform: translate(48px, 261px);
  z-index: 1;
  text-align: center;
  width: 250px;
  height: auto;
  color: #eff9ff;
  text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF;
  letter-spacing: 2px; }

#menu__elevator--gear-right-one {
  -webkit-animation-duration: 20s;
  -moz-animation-duration: 20s;
  -o-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate_clockwise;
  -moz-animation-name: rotate_clockwise;
  -o-animation-name: rotate_clockwise;
  animation-name: rotate_clockwise;
  -webkit-animation-direction: linear;
  -moz-animation-direction: linear;
  -o-animation-direction: linear;
  animation-direction: linear;
  -webkit-animation-fill-mode: none;
  -moz-animation-fill-mode: none;
  -o-animation-fill-mode: none;
  animation-fill-mode: none;
  transform-origin: center; }

#menu__elevator--gear-left-two {
  -webkit-animation-duration: 20s;
  -moz-animation-duration: 20s;
  -o-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate_clockwise;
  -moz-animation-name: rotate_clockwise;
  -o-animation-name: rotate_clockwise;
  animation-name: rotate_clockwise;
  -webkit-animation-direction: linear;
  -moz-animation-direction: linear;
  -o-animation-direction: linear;
  animation-direction: linear;
  -webkit-animation-fill-mode: none;
  -moz-animation-fill-mode: none;
  -o-animation-fill-mode: none;
  animation-fill-mode: none;
  transform-origin: center; }

#menu__elevator--gear-left-one {
  -webkit-animation-duration: 20s;
  -moz-animation-duration: 20s;
  -o-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate_counterclockwise;
  -moz-animation-name: rotate_counterclockwise;
  -o-animation-name: rotate_counterclockwise;
  animation-name: rotate_counterclockwise;
  -webkit-animation-direction: linear;
  -moz-animation-direction: linear;
  -o-animation-direction: linear;
  animation-direction: linear;
  -webkit-animation-fill-mode: none;
  -moz-animation-fill-mode: none;
  -o-animation-fill-mode: none;
  animation-fill-mode: none;
  transform-origin: center; }

#menu__elevator--gear-right-two {
  -webkit-animation-duration: 20s;
  -moz-animation-duration: 20s;
  -o-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate_counterclockwise;
  -moz-animation-name: rotate_counterclockwise;
  -o-animation-name: rotate_counterclockwise;
  animation-name: rotate_counterclockwise;
  -webkit-animation-direction: linear;
  -moz-animation-direction: linear;
  -o-animation-direction: linear;
  animation-direction: linear;
  -webkit-animation-fill-mode: none;
  -moz-animation-fill-mode: none;
  -o-animation-fill-mode: none;
  animation-fill-mode: none;
  transform-origin: center; }

#menu__elevator--door-right {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: right_door;
  -moz-animation-name: right_door;
  -o-animation-name: right_door;
  animation-name: right_door;
  -webkit-animation-direction: linear;
  -moz-animation-direction: linear;
  -o-animation-direction: linear;
  animation-direction: linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  z-index: 2; }

#menu__elevator--door-left {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: left_door;
  -moz-animation-name: left_door;
  -o-animation-name: left_door;
  animation-name: left_door;
  -webkit-animation-direction: linear;
  -moz-animation-direction: linear;
  -o-animation-direction: linear;
  animation-direction: linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  z-index: 2; }

.about__sparkles {
  visibility: hidden; }

.about__sparkles--one {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-animation-duration: 2.2s;
  -moz-animation-duration: 2.2s;
  -o-animation-duration: 2.2s;
  animation-duration: 2.2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: sparkling;
  -moz-animation-name: sparkling;
  -o-animation-name: sparkling;
  animation-name: sparkling;
  -webkit-animation-direction: ease-in-out;
  -moz-animation-direction: ease-in-out;
  -o-animation-direction: ease-in-out;
  animation-direction: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 3s;
  height: 400px; }

.about__sparkles--two {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transform: translateY(-780px);
  -webkit-animation-duration: 2.2s;
  -moz-animation-duration: 2.2s;
  -o-animation-duration: 2.2s;
  animation-duration: 2.2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: sparkling;
  -moz-animation-name: sparkling;
  -o-animation-name: sparkling;
  animation-name: sparkling;
  -webkit-animation-direction: ease-in-out;
  -moz-animation-direction: ease-in-out;
  -o-animation-direction: ease-in-out;
  animation-direction: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  height: 520px;
  animation-delay: 2s; }

.about__sparkles--three {
  transform: translateY(-780px);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-animation-duration: 2.2s;
  -moz-animation-duration: 2.2s;
  -o-animation-duration: 2.2s;
  animation-duration: 2.2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: sparkling;
  -moz-animation-name: sparkling;
  -o-animation-name: sparkling;
  animation-name: sparkling;
  -webkit-animation-direction: ease-in-out;
  -moz-animation-direction: ease-in-out;
  -o-animation-direction: ease-in-out;
  animation-direction: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 3.7s; }

.about__container {
  transform: translate(-20px, -100px);
  width: 300px;
  height: 300px;
  margin: 200px auto;
  perspective: 800px;
  margin-bottom: 600px;
  cursor: pointer; }

.about__box {
  width: 300px;
  transform-style: preserve-3d;
  font-family: "Cutive Mono", cursive;
  font-size: 12px;
  color: #eff9ff;
  text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF;
  letter-spacing: 2px;
  padding: 11px;
  transition: 2s ease-in-out; }
  .about__box:hover {
    transform: rotateY(90deg); }
  .about__box:hover ~ .about__title {
    opacity: 0; }
  .about__box:hover ~ .about__title-bone {
    opacity: 1; }
  .about__box:hover ~ .about__hands {
    opacity: 0; }
  .about__box:hover ~ .about__hover {
    opacity: 0; }
  .about__box:hover ~ .about__cloud-one {
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: cloud;
    -moz-animation-name: cloud;
    -o-animation-name: cloud;
    animation-name: cloud;
    -webkit-animation-direction: linear;
    -moz-animation-direction: linear;
    -o-animation-direction: linear;
    animation-direction: linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .about__box:hover ~ .about__cloud-two {
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: cloud;
    -moz-animation-name: cloud;
    -o-animation-name: cloud;
    animation-name: cloud;
    -webkit-animation-direction: linear;
    -moz-animation-direction: linear;
    -o-animation-direction: linear;
    animation-direction: linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .about__box:hover ~ .about__cloud-three {
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: cloud;
    -moz-animation-name: cloud;
    -o-animation-name: cloud;
    animation-name: cloud;
    -webkit-animation-direction: linear;
    -moz-animation-direction: linear;
    -o-animation-direction: linear;
    animation-direction: linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

.about__box div {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden; }

.about__front {
  transform: translateZ(150px);
  padding: 32px;
  text-align: center;
  background-image: url(../../image/dark_wood.png);
  background-size: 400px;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19); }

.about__left {
  transform: rotateY(-90deg) translateX(-150px);
  transform-origin: left;
  padding: 30px;
  background-image: url(../../image/dark_wood.png);
  background-size: 400px;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19); }

.about__front--one {
  margin-top: 0; }

.about__front--three {
  margin-bottom: 0; }

.about__left-logo {
  width: 250px; }

.about__hands {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 3;
  -moz-animation-iteration-count: 3;
  -o-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -webkit-animation-name: moving_hands;
  -moz-animation-name: moving_hands;
  -o-animation-name: moving_hands;
  animation-name: moving_hands;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: -1;
  width: 464px;
  transform: translate(-69px, 90px);
  filter: brightness(0.4) contrast(130%) drop-shadow(10px 10px 15px black);
  transition: 2.1s ease-in; }

.about__hover {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transition: 2s ease-in;
  filter: brightness(0.8);
  transform: translate(270px, -100px) rotate(-8deg); }

.about__arrow {
  width: 130px; }

.about__title {
  margin-bottom: 400px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: -1;
  transform: translate(-25px, 620px);
  transition: 1s ease-in-out; }

.about__title--font {
  display: block;
  margin: auto;
  font-family: "Megrim", sans-serif;
  font-size: 2.5em;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 5;
  -moz-animation-iteration-count: 5;
  -o-animation-iteration-count: 5;
  animation-iteration-count: 5;
  -webkit-animation-name: pink_neon_flicker;
  -moz-animation-name: pink_neon_flicker;
  -o-animation-name: pink_neon_flicker;
  animation-name: pink_neon_flicker;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
  width: 300px;
  text-align: center;
  z-index: 1;
  transform: translate(10px, -230px); }

.about__title--image {
  display: block;
  margin: auto;
  transform: translateY(-330px);
  filter: drop-shadow(10px 10px 15px black) brightness(0.7); }

.about__title-bone {
  margin-bottom: 400px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: -1;
  transform: translate(-15px, 620px);
  transition: 1s ease-in-out;
  transition-delay: 0.5s;
  opacity: 0; }

.about__title--font-bone {
  display: block;
  margin: auto;
  font-family: "Megrim", sans-serif;
  font-size: 2.5em;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 5;
  -moz-animation-iteration-count: 5;
  -o-animation-iteration-count: 5;
  animation-iteration-count: 5;
  -webkit-animation-name: pink_neon_flicker;
  -moz-animation-name: pink_neon_flicker;
  -o-animation-name: pink_neon_flicker;
  animation-name: pink_neon_flicker;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
  width: 300px;
  text-align: center;
  z-index: 1;
  transform: translate(25px, -230px); }

.about__title--image-bone {
  display: block;
  margin: auto;
  transform: translateY(-330px);
  filter: drop-shadow(10px 10px 15px black) brightness(0.7); }

.about__plate {
  margin-bottom: 400px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: -2;
  transform: translate(-40px, 270px);
  transition: 1s ease-in-out;
  transition-delay: 0.5s;
  width: 400px;
  filter: drop-shadow(10px 10px 15px black) brightness(0.8); }

.about__cloud-one {
  filter: brightness(0.2);
  width: 0px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transition: 4s ease-in-out;
  transform: translate(-100px, -170px); }

.about__cloud-two {
  filter: brightness(0.2);
  width: 0px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transition: 4s ease-in-out;
  transform: translate(-200px, -50px);
  z-index: -1;
  animation-delay: 0.2s; }

.about__cloud-three {
  filter: brightness(0.2);
  width: 0px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transition: 4s ease-in-out;
  transform: translate(30px, 250px);
  animation-delay: 0.4s; }

.gallery__title {
  display: block;
  margin: auto;
  font-family: "Megrim", sans-serif;
  font-size: 2.5em;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 5;
  -moz-animation-iteration-count: 5;
  -o-animation-iteration-count: 5;
  animation-iteration-count: 5;
  -webkit-animation-name: pink_neon_flicker;
  -moz-animation-name: pink_neon_flicker;
  -o-animation-name: pink_neon_flicker;
  animation-name: pink_neon_flicker;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
  width: 300px;
  text-align: center;
  z-index: 1;
  transform: translate(-20px, 350px); }

.gallery__milk {
  display: block;
  margin: auto;
  filter: drop-shadow(10px 10px 15px black) contrast(120%) brightness(0.7);
  transform: translateX(30px); }

@-webkit-keyframes rotate_clockwise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-moz-keyframes rotate_clockwise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-o-keyframes rotate_clockwise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes rotate_clockwise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes rotate_counterclockwise {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

@-moz-keyframes rotate_counterclockwise {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

@-o-keyframes rotate_counterclockwise {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

@keyframes rotate_counterclockwise {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

@-webkit-keyframes right_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(190px); } }

@-moz-keyframes right_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(190px); } }

@-o-keyframes right_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(190px); } }

@keyframes right_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(190px); } }

@-webkit-keyframes left_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-180px); } }

@-moz-keyframes left_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-180px); } }

@-o-keyframes left_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-180px); } }

@keyframes left_door {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-180px); } }

@-webkit-keyframes pink_neon_flicker {
  from {
    color: grey;
    text-shadow: none; }
  to {
    color: #fdebfd;
    text-shadow: 0 0 20px #da36d9, 0 0 10px #fdebfd, 0 0 40px #F33CF2, 0 0 70px #da36d9, 0 0 80px #da36d9, 0 0 100px #da36d9, 0 0 130px #da36d9; } }

@-moz-keyframes pink_neon_flicker {
  from {
    color: grey;
    text-shadow: none; }
  to {
    color: #fdebfd;
    text-shadow: 0 0 20px #da36d9, 0 0 10px #fdebfd, 0 0 40px #F33CF2, 0 0 70px #da36d9, 0 0 80px #da36d9, 0 0 100px #da36d9, 0 0 130px #da36d9; } }

@-o-keyframes pink_neon_flicker {
  from {
    color: grey;
    text-shadow: none; }
  to {
    color: #fdebfd;
    text-shadow: 0 0 20px #da36d9, 0 0 10px #fdebfd, 0 0 40px #F33CF2, 0 0 70px #da36d9, 0 0 80px #da36d9, 0 0 100px #da36d9, 0 0 130px #da36d9; } }

@keyframes pink_neon_flicker {
  from {
    color: grey;
    text-shadow: none; }
  to {
    color: #fdebfd;
    text-shadow: 0 0 20px #da36d9, 0 0 10px #fdebfd, 0 0 40px #F33CF2, 0 0 70px #da36d9, 0 0 80px #da36d9, 0 0 100px #da36d9, 0 0 130px #da36d9; } }

@-webkit-keyframes tilt_motion {
  20% {
    transform: translateY(190px) rotate(-10deg);
    transform-origin: center; }
  70% {
    transform: translateY(190px) rotate(10deg);
    transform-origin: center; }
  100% {
    transform: translateY(190px); } }

@-moz-keyframes tilt_motion {
  20% {
    transform: translateY(190px) rotate(-10deg);
    transform-origin: center; }
  70% {
    transform: translateY(190px) rotate(10deg);
    transform-origin: center; }
  100% {
    transform: translateY(190px); } }

@-o-keyframes tilt_motion {
  20% {
    transform: translateY(190px) rotate(-10deg);
    transform-origin: center; }
  70% {
    transform: translateY(190px) rotate(10deg);
    transform-origin: center; }
  100% {
    transform: translateY(190px); } }

@keyframes tilt_motion {
  20% {
    transform: translateY(190px) rotate(-10deg);
    transform-origin: center; }
  70% {
    transform: translateY(190px) rotate(10deg);
    transform-origin: center; }
  100% {
    transform: translateY(190px); } }

@-webkit-keyframes spin_logo {
  30% {
    transform: translate(-10px, 400px) rotate(360deg);
    transform-origin: bottom;
    z-index: 1;
    width: 55px; }
  100% {
    transform: translate(20px, 515px) rotate(17deg);
    transform-origin: center;
    width: 70px;
    z-index: 1; } }

@-moz-keyframes spin_logo {
  30% {
    transform: translate(-10px, 400px) rotate(360deg);
    transform-origin: bottom;
    z-index: 1;
    width: 55px; }
  100% {
    transform: translate(20px, 515px) rotate(17deg);
    transform-origin: center;
    width: 70px;
    z-index: 1; } }

@-o-keyframes spin_logo {
  30% {
    transform: translate(-10px, 400px) rotate(360deg);
    transform-origin: bottom;
    z-index: 1;
    width: 55px; }
  100% {
    transform: translate(20px, 515px) rotate(17deg);
    transform-origin: center;
    width: 70px;
    z-index: 1; } }

@keyframes spin_logo {
  30% {
    transform: translate(-10px, 400px) rotate(360deg);
    transform-origin: bottom;
    z-index: 1;
    width: 55px; }
  100% {
    transform: translate(20px, 515px) rotate(17deg);
    transform-origin: center;
    width: 70px;
    z-index: 1; } }

@-webkit-keyframes pompom_shine {
  20% {
    visibility: visible; }
  40% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF; }
  60% {
    visibility: visible;
    color: grey; }
  100% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF;
    font-size: 1.5em; } }

@-moz-keyframes pompom_shine {
  20% {
    visibility: visible; }
  40% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF; }
  60% {
    visibility: visible;
    color: grey; }
  100% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF;
    font-size: 1.5em; } }

@-o-keyframes pompom_shine {
  20% {
    visibility: visible; }
  40% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF; }
  60% {
    visibility: visible;
    color: grey; }
  100% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF;
    font-size: 1.5em; } }

@keyframes pompom_shine {
  20% {
    visibility: visible; }
  40% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF; }
  60% {
    visibility: visible;
    color: grey; }
  100% {
    visibility: visible;
    color: #eff9ff;
    text-shadow: 0 0 20px #67C8FF, 0 0 10px #eff9ff, 0 0 40px #85d3ff, 0 0 70px #67C8FF, 0 0 80px #67C8FF, 0 0 100px #67C8FF, 0 0 130px #67C8FF;
    font-size: 1.5em; } }

@-webkit-keyframes hovering {
  from {
    transform: translate(-180px, -200px); }
  to {
    transform: translate(-180px, -220px); } }

@-moz-keyframes hovering {
  from {
    transform: translate(-180px, -200px); }
  to {
    transform: translate(-180px, -220px); } }

@-o-keyframes hovering {
  from {
    transform: translate(-180px, -200px); }
  to {
    transform: translate(-180px, -220px); } }

@keyframes hovering {
  from {
    transform: translate(-180px, -200px); }
  to {
    transform: translate(-180px, -220px); } }

@-webkit-keyframes sparkling {
  from {
    transform: translateY(-780px); }
  to {
    transform: translateY(-680px);
    visibility: visible; } }

@-moz-keyframes sparkling {
  from {
    transform: translateY(-780px); }
  to {
    transform: translateY(-680px);
    visibility: visible; } }

@-o-keyframes sparkling {
  from {
    transform: translateY(-780px); }
  to {
    transform: translateY(-680px);
    visibility: visible; } }

@keyframes sparkling {
  from {
    transform: translateY(-780px); }
  to {
    transform: translateY(-680px);
    visibility: visible; } }

@-webkit-keyframes moving_hands {
  from {
    transform: translate(-69px, 20px); }
  to {
    transform: translate(-69px, 90px); } }

@-moz-keyframes moving_hands {
  from {
    transform: translate(-69px, 20px); }
  to {
    transform: translate(-69px, 90px); } }

@-o-keyframes moving_hands {
  from {
    transform: translate(-69px, 20px); }
  to {
    transform: translate(-69px, 90px); } }

@keyframes moving_hands {
  from {
    transform: translate(-69px, 20px); }
  to {
    transform: translate(-69px, 90px); } }

@-webkit-keyframes cloud {
  0% {
    width: 0px;
    filter: brightness(0.2); }
  30% {
    width: 400px;
    filter: brightness(0.2); }
  50% {
    filter: brightness(1); }
  70% {
    filter: brightness(0.2); }
  90% {
    filter: brightness(1); }
  100% {
    width: 400px;
    filter: brightness(0.2); } }

@-moz-keyframes cloud {
  0% {
    width: 0px;
    filter: brightness(0.2); }
  30% {
    width: 400px;
    filter: brightness(0.2); }
  50% {
    filter: brightness(1); }
  70% {
    filter: brightness(0.2); }
  90% {
    filter: brightness(1); }
  100% {
    width: 400px;
    filter: brightness(0.2); } }

@-o-keyframes cloud {
  0% {
    width: 0px;
    filter: brightness(0.2); }
  30% {
    width: 400px;
    filter: brightness(0.2); }
  50% {
    filter: brightness(1); }
  70% {
    filter: brightness(0.2); }
  90% {
    filter: brightness(1); }
  100% {
    width: 400px;
    filter: brightness(0.2); } }

@keyframes cloud {
  0% {
    width: 0px;
    filter: brightness(0.2); }
  30% {
    width: 400px;
    filter: brightness(0.2); }
  50% {
    filter: brightness(1); }
  70% {
    filter: brightness(0.2); }
  90% {
    filter: brightness(1); }
  100% {
    width: 400px;
    filter: brightness(0.2); } }

.contact {
  height: 800px;
  line-height: 200px;
  filter: drop-shadow(10px 10px 15px black); }

.contact__title {
  display: block;
  margin: auto;
  font-family: "Megrim", sans-serif;
  font-size: 2.5em;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 5;
  -moz-animation-iteration-count: 5;
  -o-animation-iteration-count: 5;
  animation-iteration-count: 5;
  -webkit-animation-name: pink_neon_flicker;
  -moz-animation-name: pink_neon_flicker;
  -o-animation-name: pink_neon_flicker;
  animation-name: pink_neon_flicker;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
  width: 300px;
  text-align: center;
  z-index: 1;
  transform: translate(-60px, 230px); }

.contact__mailbox {
  display: block;
  margin: auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-image: url("../../image/wood.png");
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: 600px;
  overflow-x: hidden; }
