* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-image: url("../../image/wood.png");
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: 600px; }
