@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Megrim");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Megrim");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Megrim");
.name__logo {
  width: 50px;
  display: block;
  margin: auto;
  padding-top: 20px; }

.name__title {
  font-family: "Poiret One", cursive;
  font-size: 2.5em;
  margin: 0;
  text-align: center;
  color: white;
  letter-spacing: 0.7em; }

.menu-list {
  list-style: none;
  font-family: "Megrim", sans-serif;
  color: white;
  text-align: center; }

.menu-list__item {
  display: inline;
  margin-left: 50px;
  font-size: 1.3em; }

.menu__elevator--top {
  width: 400px;
  display: block;
  margin: auto; }

.menu__elevator--arrow {
  display: block;
  margin: auto;
  transform: translate(-15%, -165%); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-image: url("../../image/wood.png");
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: 600px; }
