///////////////////////////
//   About SCSS File   //
/////////////////////////

//  Context  //
.about__container {
  -webkit-transform: translate(-20px, -100px);
  -moz-transform: translate(-20px, -100px);
  -ms-transform: translate(-20px, -100px);
  -o-transform: translate(-20px, -100px);
  transform: translate(-20px, -100px);
  width: 300px;
  height: 300px;
  margin: 200px auto;
  perspective: 800px;
  cursor: pointer;
  @include mQ(749px) {
    -webkit-transform: translate(-13px, -260px);
    -moz-transform: translate(-13px, -260px);
    -ms-transform: translate(-13px, -260px);
    -o-transform: translate(-13px, -260px);
    transform: translate(-13px, -260px);
    width: 250px;
    height: 250px;
  }
}

.about__box {
  width:300px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-family: $subtitleFont;
  font-size: 12px;
  color: $lightBlue;
  text-shadow: $neonBlue;
  letter-spacing: $contextLetterSpacing;
  padding: 11px;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  &:hover {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  &:hover ~ .about__title {
    opacity: 0;
  }
  &:hover ~ .about__title-bone {
    opacity: 1;
  }
  &:hover ~ .about__hands {
    opacity: 0;
  }
  &:hover ~ .about__hover {
    opacity: 0;
  }
  &:hover ~ .about__cloud-one {
    @include cloudsMove;
  }
  &:hover ~ .about__cloud-two {
    @include cloudsMove;
  }
  &:hover ~ .about__cloud-three {
    @include cloudsMove;
  }
  @include mQ(749px) {
    width: 250px;
    font-size: 10.4px;
    line-height: 9.6px;
    &:hover ~ .about__cloud-one {
      visibility: hidden;
    }
    &:hover ~ .about__cloud-two {
      visibility: hidden;
    }
    &:hover ~ .about__cloud-three {
      visibility: hidden;
    }
  }
}

.about__box div {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
  @include mQ(749px) {
    width: 250px;
    height:250px;
  }
}

.about__front {
  -webkit-transform: translateZ(150px);
  -moz-transform: translateZ(150px);
  -ms-transform: translateZ(150px);
  -o-transform: translateZ(150px);
  transform: translateZ(150px);
  padding: 32px;
  text-align: center;
  @include about_me;
  @include mQ(745px) {
    -webkit-transform: translateZ(125px);
    -moz-transform: translateZ(125px);
    -ms-transform: translateZ(125px);
    -o-transform: translateZ(125px);
    transform: translateZ(125px);
  }
}

.about__left {
  -webkit-transform: rotateY(-90deg) translateX(-150px);
  -moz-transform: rotateY(-90deg) translateX(-150px);
  -ms-transform: rotateY(-90deg) translateX(-150px);
  -o-transform: rotateY(-90deg) translateX(-150px);
  transform: rotateY(-90deg) translateX(-150px);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  padding: 30px;
  @include about_me;
  @include mQ(745px){
    -webkit-transform: rotateY(-90deg) translateX(-125px);
    -moz-transform: rotateY(-90deg) translateX(-125px);
    -ms-transform: rotateY(-90deg) translateX(-125px);
    -o-transform: rotateY(-90deg) translateX(-125px);
    transform: rotateY(-90deg) translateX(-125px);
  }
}

.about__front--one {
  margin-top: 0;
}

.about__front--three {
  margin-bottom: 0;
}

.about__left-logo {
  width:250px;
  @include mQ(749px) {
    width: 200px;
  }
}

//  hands  //
.about__hands {
  @include absolute_position;
  @include moving_hands;
  z-index: -1;
  width: 464px;
  -webkit-transform: translate(-69px, 90px);
  -moz-transform: translate(-69px, 90px);
  -ms-transform: translate(-69px, 90px);
  -o-transform: translate(-69px, 90px);
  transform: translate(-69px, 90px);
  -webkit-filter: brightness(0.4) contrast(130%) $svgShadow;
  filter: brightness(0.4) contrast(130%) $svgShadow;
  -webkit-transition: 1s ease-in;
  -moz-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
  @include mQ(749px) {
    visibility: hidden;
  }
}

// arrow  //
.about__hover {
  -webkit-transition: 2s ease-in;
  -moz-transition: 2s ease-in;
  -o-transition: 2s ease-in;
  transition: 2s ease-in;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  -webkit-transform: translate(250px, -100px) rotate(-8deg);
  -moz-transform: translate(250px, -100px) rotate(-8deg);
  -ms-transform: translate(250px, -100px) rotate(-8deg);
  -o-transform: translate(250px, -100px) rotate(-8deg);
  transform: translate(250px, -100px) rotate(-8deg);
}

.about__arrow {
  width: 130px;
  z-index: 3;
  @include absolute_position;
  @include mQ(749px) {
    visibility: hidden;
  }
}


//  Fish Page Title  //
.about__title {
  margin-bottom: 400px;
  @include absolute_position;
  z-index: -1;
  -webkit-transform: translate(-25px, 620px);
  -moz-transform: translate(-25px, 620px);
  -ms-transform: translate(-25px, 620px);
  -o-transform: translate(-25px, 620px);
  transform: translate(-25px, 620px);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.about__title--font {
  @include neon_subtitles; //located at other mixin
  -webkit-transform: translate(10px, -230px);
  -moz-transform: translate(10px, -230px);
  -ms-transform: translate(10px, -230px);
  -o-transform: translate(10px, -230px);
  transform: translate(10px, -230px);
  @include mQ(749px) {
    -webkit-transform: translate(8px, -320px);
    -moz-transform: translate(8px, -320px);
    -ms-transform: translate(8px, -320px);
    -o-transform: translate(8px, -320px);
    transform: translate(8px, -320px);
  }
}

.about__title--image {
  @include absolute_position;
  width: 370px;
  -webkit-transform: translateY(-330px);
  -moz-transform: translateY(-330px);
  -ms-transform: translateY(-330px);
  -o-transform: translateY(-330px);
  transform: translateY(-330px);
  -webkit-filter: $svgShadow brightness(0.7);
  filter: $svgShadow brightness(0.7);
  @include mQ(749px) {
    width: 280px;
    -webkit-transform: translate(30px, -400px);
    -moz-transform: translate(30px, -400px);
    -ms-transform: translate(30px, -400px);
    -o-transform: translate(30px, -400px);
    transform: translate(30px, -400px);
  }
}


//  Fish Bone  //
.about__title-bone {
  margin-bottom: 400px;
  @include absolute_position;
  z-index: -1;
  -webkit-transform: translate(-15px, 620px);
  -moz-transform: translate(-15px, 620px);
  -ms-transform: translate(-15px, 620px);
  -o-transform: translate(-15px, 620px);
  transform: translate(-15px, 620px);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 0;
  @include mQ(749px) {
  }
}

.about__title--font-bone {
  @include neon_subtitles; //located at other mixin
  -webkit-transform: translate(25px, -230px);
  -moz-transform: translate(25px, -230px);
  -ms-transform: translate(25px, -230px);
  -o-transform: translate(25px, -230px);
  transform: translate(25px, -230px);
  @include mQ(749px) {
    -webkit-transform: translate(15px, -308px);
    -moz-transform: translate(15px, -308px);
    -ms-transform: translate(15px, -308px);
    -o-transform: translate(15px, -308px);
    transform: translate(15px, -308px);
  }
}

.about__title--image-bone {
  display: block;
  margin: auto;
  -webkit-transform: translateY(-330px);
  -moz-transform: translateY(-330px);
  -ms-transform: translateY(-330px);
  -o-transform: translateY(-330px);
  transform: translateY(-330px);
  -webkit-filter: $svgShadow brightness(0.7);
  filter: $svgShadow brightness(0.7);
  @include mQ(749px) {
    width: 280px;
    -webkit-transform: translate(20px, -390px);
    -moz-transform: translate(20px, -390px);
    -ms-transform: translate(20px, -390px);
    -o-transform: translate(20px, -390px);
    transform: translate(20px, -390px);

  }
}

.about__plate {
  margin-bottom: 400px;
  @include absolute_position;
  z-index: -2;
  -webkit-transform: translate(-40px, 270px);
  -moz-transform: translate(-40px, 270px);
  -ms-transform: translate(-40px, 270px);
  -o-transform: translate(-40px, 270px);
  transform: translate(-40px, 270px);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  width: 400px;
  -webkit-filter: $svgShadow brightness(0.8);
  filter: $svgShadow brightness(0.8);
  @include mQ(749px) {
    width: 300px;
    -webkit-transform: translate(-10px, 220px);
    -moz-transform: translate(-10px, 220px);
    -ms-transform: translate(-10px, 220px);
    -o-transform: translate(-10px, 220px);
    transform: translate(-10px, 220px);
  }
}

.about__cloud-one{
  @include cloud;
  -webkit-transform: translate(-120px, -150px);
  -moz-transform: translate(-120px, -150px);
  -ms-transform: translate(-120px, -150px);
  -o-transform: translate(-120px, -150px);
  transform: translate(-120px, -150px);
  @include mQ(745px) {
    visibility: hidden;
  }
}

.about__cloud-two{
  @include cloud;
  -webkit-transform: translate(-200px, -50px);
  -moz-transform: translate(-200px, -50px);
  -ms-transform: translate(-200px, -50px);
  -o-transform: translate(-200px, -50px);
  transform: translate(-200px, -50px);
  z-index: -1;
  animation-delay: 0.2s;
  @include mQ(745px) {
    visibility: hidden;
  }
}

.about__cloud-three{
  @include cloud;
  -webkit-transform: translate(80px, 250px);
  -moz-transform: translate(80px, 250px);
  -ms-transform: translate(80px, 250px);
  -o-transform: translate(80px, 250px);
  transform: translate(80px, 250px);
  animation-delay: 0.4s;
  @include mQ(745px) {
    visibility: hidden;
  }
}

//  light bulb  //
.about__light {
  @include relative_position;
  width: 200px;
  -webkit-transform: translate(80px, -90px);
  -moz-transform: translate(80px, -90px);
  -ms-transform: translate(80px, -90px);
  -o-transform: translate(80px, -90px);
  transform: translate(80px, -90px);
  z-index: -1;
  @include lightMove;
  @include mQ(745px) {
    visibility: hidden;
  }
}

.about__light--bulb {
  width: 70px;
  -webkit-transform: translateX(-31px);
  -moz-transform: translateX(-31px);
  -ms-transform: translateX(-31px);
  -o-transform: translateX(-31px);
  transform: translateX(-31px);
  -webkit-filter: $svgShadow;
  filter: $svgShadow;
}

.about__light--wire {
  width: 3px;
  height: 400px;
  background-color: #51203E;
  -webkit-filter: $svgShadow;
  filter: $svgShadow;
}

.about__light--shine {
  width: 190px;
  height: 40px;
  @include absolute_position;
  border-radius: 50%;
  background-color: $lightBlue;
  -webkit-box-shadow: $neonBlue;
  -moz-box-shadow: $neonBlue;
  -o-box-shadow: $neonBlue;
  box-shadow: $neonBlue;
  -webkit-transform: translate(-95px, -70px);
  -moz-transform: translate(-95px, -70px);
  -ms-transform: translate(-95px, -70px);
  -o-transform: translate(-95px, -70px);
  transform: translate(-95px, -70px);
  z-index: -1;
  -webkit-filter: blur(32px) saturate(1.7);
  filter: blur(32px) saturate(1.7);
}
