///////////////////////////
//   About SCSS File   //
/////////////////////////
@import "var";
@import "animation";
@import "other_mixin";

//  Sparkles  //

.about__sparkles--one {
  transform: translateY($sparklesPositionY);
  @include absolute_position;
  @include sparkling;
  animation-delay: 1s;
}

.about__sparkles--two {
  @include absolute_position;
  transform: translateY($sparklesPositionY);
  @include sparkling;
}

.about__sparkles--three {
  transform: translateY($sparklesPositionY);
  @include absolute_position;
  @include sparkling;
  animation-delay: 2s;
}

.about__sparkles--four {
  transform: translateY($sparklesPositionY);
  @include absolute_position;
  @include sparkling;
  animation-delay: 3s;
}


//  Hover Sign  //
.about__hover-me {
 transform: translate(-180px, -200px);
 @include hovering;
}

.about__hover-me--instruction {
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
  font-size: 30px;
  font-family: $subtitleFont;
  margin-bottom: 5px;
  color: $lightBlue;
  text-shadow: $neonBlue;
  letter-spacing: 0.3em;
}


//  Milk Carton  //
.about__milkcarton {
  display: block;
  margin: auto;
  transform: translateX(-260px);
  width: 300px;
  filter: $svgShadow;
  transition: 0.5s ease-in-out;
    &:hover {
      transform: translate(-290px, -150px) rotate(25deg);
      cursor: pointer;
    }
}

.about__milkcarton--title {
  @include neon_subtitles; //located at other mixin
  transform: translate(40px, 90px);
}

.about__milkcarton--profile-pic {
  display: block;
  margin: auto;
  transform: translate(70px, -250px);
  filter: brightness(0.8) contrast(110%);
}

.about__context {
  font-family: $subtitleFont;
  color: $lightBlue;
  display: block;
  margin: auto;
  width: 300px;
  position: relative;
  transform: translate(100px, -450px);
  letter-spacing: $contextLetterSpacing;
}
