/////////////////////////
//  Animation  Mixin  //
///////////////////////


///////////////////////////
//  Animation Framework  //
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin animate($name, $duration, $iteration, $direction) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
}

///////////////////////////////////
//  Rotate Clockwise Animation  //
@include keyframes(rotate_clockwise) {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@mixin rotate_clockwise {
  @include animate(rotate_clockwise, 20s, infinite, linear);
}

///////////////////////////////////////////
//  Rotate Counter Clockwise Animation  //
@include keyframes(rotate_counterclockwise) {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@mixin rotate_counterclockwise {
  @include animate(rotate_counterclockwise, 20s, infinite, linear);
}
