/////////////////////////
//  Animation  Mixin  //
///////////////////////


///////////////////////////
//  Animation Framework  //
//Animation mixin framework referenced from https://www.mrpapercut.com/blog/2016-09-26-keyframe-animations-in-sass
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin animate($name, $duration, $iteration, $direction, $fill-mode) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
  -webkit-animation-fill-mode: $fill-mode;
     -moz-animation-fill-mode: $fill-mode;
       -o-animation-fill-mode: $fill-mode;
          animation-fill-mode: $fill-mode;

}

///////////////////////////////////
//  Rotate Clockwise Animation  //
@include keyframes(rotate_clockwise) {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@mixin rotate_clockwise {
  @include animate(rotate_clockwise, 20s, infinite, linear, none);
  transform-origin: center;
}

///////////////////////////////////////////
//  Rotate Counter Clockwise Animation  //
@include keyframes(rotate_counterclockwise) {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@mixin rotate_counterclockwise {
  @include animate(rotate_counterclockwise, 20s, infinite, linear, none);
  transform-origin: center;
}

////////////////////////
//  Open Door Right  //
@include keyframes(right_door) {
  from { transform: translateX(0px);}
  to { transform: translateX(190px); }
}

@mixin right_door {
  @include animate(right_door, 3s, 1, linear, forwards);
}

///////////////////////
//  Open Door Left  //
@include keyframes(left_door) {
  from { transform: translateX(0px);}
  to { transform: translateX(-180px); }
}

@mixin left_door {
  @include animate(left_door, 3s, 1, linear, forwards);
}

//////////////////////////////////
//  Title: Neon Light Flicker  //
@include keyframes (pink_neon_flicker) {
  from {
    color: $greyColor;
    text-shadow: none;
  }
  to {
    color: $lightPinkColor;
    text-shadow: $neonPink;
  }
}

@mixin pink_neon_flicker {
  @include animate(pink_neon_flicker, 1s, 5, alternate, forwards);
}

////////////////////
//  Tilt Motion  //
@include keyframes (tilt_motion) {
 20% {
   transform: translateY(190px) rotate(-10deg);
   transform-origin: center;
 }
 70% {
   transform: translateY(190px) rotate(10deg);
   transform-origin: center;
 }
 100% {
   transform: translateY(190px);
 }
}

@mixin tilt_motion {
  @include animate(tilt_motion, 2s, 1, linear, forwards);
}

//  Logo //
@include keyframes (spin_logo) {
  30% {
    transform: translate(-10px, 400px) rotate(360deg);
    transform-origin: bottom;
    z-index: 1;
    width: 55px;
  }
  100% {
    transform: translate(20px, 515px) rotate(17deg);
    transform-origin: center;
    width: 70px;
    z-index: 1;
  }
}

@mixin spin_logo {
  @include animate(spin_logo, 2s, none, linear, forwards);
}

//  Pom Pom Shine  //
@include keyframes (pompom_shine) {
  20% {
    visibility: visible;
  }
  40% {
    visibility: visible;
    color: $lightBlue;
    text-shadow: $neonBlue;
  }
  60% {
    visibility: visible;
    color: $greyColor;
  }
  100% {
    visibility: visible;
    color: $lightBlue;
    text-shadow: $neonBlue;
    font-size: 1.5em;
  }
}
@mixin pompom_shine {
  @include animate(pompom_shine, 3s, 1, linear, forwards);
}

//   Hovering  //
@include keyframes (hovering) {
  from {
     transform: translate(-180px, -200px);
  }
  to {
     transform: translate(-180px, -220px);
  }
}

@mixin hovering {
  @include animate(hovering, 0.5s, 9, alternate, both);
}

//  Sparkle Drizzling  //
@include keyframes (sparkling) {
  from {
    transform: translateY($sparklesPositionY);
  }
  to {
    transform: translateY(-200px);
    visibility: visible;
  }
}

@mixin sparkling {
  @include animate(sparkling, 2.2s, infinite, ease-in, both);
}


//  Hands moving on About cube  //
@include keyframes (moving_hands) {
  from {
    transform: translate(-69px, 20px);
  }
  to {
    transform: translate(-69px, 90px);
  }
}

@mixin moving_hands {
  @include animate(moving_hands, 2s, 3, alternate, forwards);
}

//  Clouds  //
@include keyframes (cloud) {
  0% {
    filter: brightness(0.2);
  }
  30% {
    filter: brightness(0.2);
  }
  50%{
    filter: brightness(1);
    opacity: 0.5;
  }
  70%{
    filter: brightness(0.2);
  }
  90%{
    filter: brightness(1);
  }
  100% {
    width:320px;
    opacity: 0.8;
  }
}

@mixin cloudsMove {
  @include animate(cloud, 3s, 1, linear, forwards);
}

// light bulb move and flicker  //
@include keyframes (light) {
  30% {
    transform-origin: top;
    transform: translate(80px, -90px) rotate(15deg);
    filter: brightness(0.3);
  }
  50%{
    transform-origin: top;
    transform: translate(80px, -90px) rotate(-15deg);
    filter: brightness(1);
  }
  70% {
    transform-origin: top;
    transform: translate(80px, -90px) rotate(15deg);
    filter: brightness(0.3);
  }
  100%{
    transform-origin: top;
    transform: translate(80px, -90px) rotate(0deg);
    filter: brightness(1);
  }
}

@mixin lightMove {
  @include animate(light, 4s, 1, ease, none);
}


//  milk carton move  //
@include keyframes (milk_carton) {
  from {
    transform: translate(30px, -190px);
    opacity: 1;
  }
  to {
    transform: translate(30px, -190px) rotate(20deg);
    opacity: 0;
  }
}

@mixin milk_carton {
  @include animate(milk_carton, 2s, 1, ease-in-out, forwards);
}

//  gallery title  //
@include keyframes (gallery_title) {
  from {
    transform: translate(-20px, 160px);
  }
  to {
    transform: translate(-20px, -220px);
  }
}

@mixin gallery_title {
  @include animate(gallery_title, 2s, 1, ease-in-out, forwards);
}

//  Opacity - Fade Out  //
@include keyframes (fade) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin fade {
  @include animate(fade, 2s, 1, ease-in, forwards);
}

//   circles rotate  //
@include keyframes (circles_rotate) {
  0% {
    transform: scale(0.5) translateY(70px) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.3) translateY(70px) rotate(-180deg);
    filter: brightness(0.5) $svgShadow;
    opacity: 0.2;
  }
  100% {
    transform: scale(0) translateY(70px) rotate(0deg);
    opacity: 0;
  }
}

@mixin circles_rotate {
  @include animate(circles_rotate, 6s, infinite, ease-in-out, forwards);
}

@include keyframes (circles_rotate_two) {
  0% {
    transform: scale(0.5) translateY(101px) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.3) translateY(101px) rotate(180deg);
    filter: brightness(0.5) $svgShadow;
    opacity: 0.2;
  }
  100% {
    transform: scale(0) translateY(101px) rotate(0deg);
    opacity: 0;
  }
}

@mixin circles_rotate_two {
  @include animate(circles_rotate_two, 3s, infinite, ease-in-out, forwards);
}


@include keyframes (circles_rotate_three) {
  0% {
    transform: scale(0.5) translateY(-50px) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.3) translateY(-50px) rotate(180deg);
    filter: brightness(0.5) $svgShadow;
    opacity: 0.2;
  }
  100% {
    transform: scale(0) translateY(-50px) rotate(0deg);
    opacity: 0;
  }
}

@mixin circles_rotate_three {
  @include animate(circles_rotate_three, 6s, infinite, ease-in-out, forwards);
}

// circle gallery
@include keyframes (circles_gallery) {
  from {
    transform: translate(-10px, -800px) scale(1);
  }
  to {
    transform: translate(150px, -850px) scale(0.4);
  }
}

@mixin circles_gallery {
  @include animate(circles_gallery, 3s, 1, ease-in-out, forwards);
}


// loading animation
@include keyframes (load) {
  from {
    transform: translateX(-2000px);
  }
  to {
    transform: translateX(2000px);
    letter-spacing: 4px;
  }
}

@mixin load {
  @include animate(load, 3s, infinite, ease-in-out, forwards);
}
