/////////////////////////
//  Animation  Mixin  //
///////////////////////


///////////////////////////
//  Animation Framework  //
//Animation mixin framework referenced from https://www.mrpapercut.com/blog/2016-09-26-keyframe-animations-in-sass
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin animate($name, $duration, $iteration, $direction, $fill-mode) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
  -webkit-animation-fill-mode: $fill-mode;
     -moz-animation-fill-mode: $fill-mode;
       -o-animation-fill-mode: $fill-mode;
          animation-fill-mode: $fill-mode;

}

///////////////////////////////////
//  Rotate Clockwise Animation  //
@include keyframes(rotate_clockwise) {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@mixin rotate_clockwise {
  @include animate(rotate_clockwise, 20s, infinite, linear, none);
  transform-origin: center;
}

///////////////////////////////////////////
//  Rotate Counter Clockwise Animation  //
@include keyframes(rotate_counterclockwise) {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@mixin rotate_counterclockwise {
  @include animate(rotate_counterclockwise, 20s, infinite, linear, none);
  transform-origin: center;
}

////////////////////////
//  Open Door Right  //
@include keyframes(right_door) {
  from { transform: translateX(0px);}
  to { transform: translateX(190px); }
}

@mixin right_door {
  @include animate(right_door, 3s, 1, linear, forwards);
}

///////////////////////
//  Open Door Left  //
@include keyframes(left_door) {
  from { transform: translateX(0px);}
  to { transform: translateX(-180px); }
}

@mixin left_door {
  @include animate(left_door, 3s, 1, linear, forwards);
}

//////////////////////////////////
//  Title: Neon Light Flicker  //
@include keyframes (pink_neon_flicker) {
  from {
    color: $greyColor;
    text-shadow: none;
  }
  to {
    color: $lightPinkColor;
    text-shadow: $neonPink;
  }
}

@mixin pink_neon_flicker {
  @include animate(pink_neon_flicker, 1s, 5, alternate, forwards);
}

////////////////////
//  Tilt Motion  //
@include keyframes (tilt_motion) {
 20% {
   transform: translateY(190px) rotate(-10deg);
   transform-origin: center;
 }
 70% {
   transform: translateY(190px) rotate(10deg);
   transform-origin: center;
 }
 100% {
   transform: translateY(190px);
 }
}

@mixin tilt_motion {
  @include animate(tilt_motion, 2s, 1, linear, forwards);
}

//  Logo //
@include keyframes (spin_logo) {
  30% {
    transform: translate(-10px, 400px) rotate(360deg);
    transform-origin: bottom;
    z-index: 1;
    width: 55px;
  }
  100% {
    transform: translate(20px, 515px) rotate(17deg);
    transform-origin: center;
    width: 70px;
    z-index: 1;
  }
}

@mixin spin_logo {
  @include animate(spin_logo, 2s, none, linear, forwards);
}

//  Pom Pom Shine  //
@include keyframes (pompom_shine) {
  20% {
    visibility: visible;
  }
  40% {
    visibility: visible;
    color: $lightBlue;
    text-shadow: $neonBlue;
  }
  60% {
    visibility: visible;
    color: $greyColor;
  }
  100% {
    visibility: visible;
    color: $lightBlue;
    text-shadow: $neonBlue;
    font-size: 1.5em;
  }
}
@mixin pompom_shine {
  @include animate(pompom_shine, 3s, 1, linear, forwards);
}

//   Hovering  //
@include keyframes (hovering) {
  from {
     transform: translate(-180px, -200px);
  }
  to {
     transform: translate(-180px, -220px);
  }
}

@mixin hovering {
  @include animate(hovering, 0.5s, 9, alternate, both);
}

//  Sparkle Drizzling  //
@include keyframes (sparkling) {
  from {
    transform: translateY($sparklesPositionY);
  }
  to {
    transform: translateY(-680px);
    visibility: visible;
  }
}

@mixin sparkling {
  @include animate(sparkling, 2.2s, infinite, ease-in-out, both);
}
