/////////////////////////
//  Animation  Mixin  //
///////////////////////


///////////////////////////
//  Animation Framework  //
//Animation mixin framework referenced from https://www.mrpapercut.com/blog/2016-09-26-keyframe-animations-in-sass
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin animate($name, $duration, $iteration, $direction, $fill-mode) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
  -webkit-animation-fill-mode: $fill-mode;
     -moz-animation-fill-mode: $fill-mode;
       -o-animation-fill-mode: $fill-mode;
          animation-fill-mode: $fill-mode;

}

///////////////////////////////////
//  Rotate Clockwise Animation  //
@include keyframes(rotate_clockwise) {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@mixin rotate_clockwise {
  @include animate(rotate_clockwise, 20s, infinite, linear, none);
  transform-origin: center;
}

///////////////////////////////////////////
//  Rotate Counter Clockwise Animation  //
@include keyframes(rotate_counterclockwise) {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@mixin rotate_counterclockwise {
  @include animate(rotate_counterclockwise, 20s, infinite, linear, none);
  transform-origin: center;
}

////////////////////////
//  Open Door Right  //
@include keyframes(right_door) {
  from { transform: translateX(0px);}
  to { transform: translateX(190px); }
}

@mixin right_door {
  @include animate(right_door, 3s, 1, linear, forwards);
}

///////////////////////
//  Open Door Left  //
@include keyframes(left_door) {
  from { transform: translateX(0px);}
  to { transform: translateX(-180px); }
}

@mixin left_door {
  @include animate(left_door, 3s, 1, linear, forwards);
}

//////////////////////////////////
//  Title: Neon Light Flicker  //
@include keyframes (pink_neon_flicker) {
  from {
    color: grey;
    text-shadow: none;
  }
  to {
    color: $lightPinkColor;
    text-shadow: $neonPink;
  }
}

@mixin pink_neon_flicker {
  @include animate(pink_neon_flicker, 1s, 5, alternate, forwards);
}

////////////////////
//  Tilt Motion  //
@include keyframes (tilt_motion) {
}

@mixin tilt_motion {
  @include animate(tilt_motion, 2s, none, linear, forwards);
}
