////////////////////////////
//   Contact SCSS File   //
//////////////////////////
#contact {
  margin-bottom: 60px;
}
.contact__title {
  @include neon_subtitles; //located at other mixin
  -webkit-transform: translate(-60px, 150px);
  -moz-transform: translate(-60px, 150px);
  -ms-transform: translate(-60px, 150px);
  -o-transform: translate(-60px, 150px);
  transform: translate(-60px, 150px);
}

.contact__mailbox {
  display: block;
  margin: auto;
  -webkit-filter: $svgShadow;
  filter: $svgShadow;
  width: 300px;
}

.contact__circle-one {
  width: 400px;
  height: 400px;
  @include circles;
  @include circles_rotate;
}

.contact__circle-two {
  width: 330px;
  height: 330px;
  @include circles;
  @include circles_rotate_two;
  animation-delay: 1s;
  opacity:0;
}

.contact__circle-three {
  width: 300px;
  height: 300px;
  @include circles;
  @include circles_rotate_three;
  animation-delay: 1s;
  opacity:0;
}

.contact__letter--email {
  width: 350px;
  height: 60px;
  background-color: $opaqueBlack;
  border-radius: 20px;
  padding: 19px;
  -webkit-filter: $svgShadow;
  filter: $svgShadow;
  @include absolute_position;
  font-family: $subtitleFont;
  text-shadow: $neonBlue;
  text-align: center;
  color: $lightBlue;
  -webkit-transform: translateY(240px);
  -moz-transform: translateY(240px);
  -ms-transform: translateY(240px);
  -o-transform: translateY(240px);
  transform: translateY(240px);
  z-index: 2;
  letter-spacing: 2px;
}
