////////////////////////////
//   Gallery SCSS File   //
//////////////////////////
#gallery {
  margin-bottom: 200px;
}

.gallery__title {
  -webkit-transform: translate(-20px, -220px);
  -moz-transform: translate(-20px, -220px);
  -ms-transform: translate(-20px, -220px);
  -o-transform: translate(-20px, -220px);
  transform: translate(-20px, -220px);
  animation-delay: 3.1s;
  display: block;
  margin: auto;
  font-family: $titleFont;
  font-size: $titleFontSize;
  color: $lightPinkColor;
  text-shadow: $neonPink;
  position: relative;
  width: 300px;
  text-align: center;
  z-index: 1;
  @include mQ(745px) {
    -webkit-transform: translate(-1px, -270px);
    -moz-transform: translate(-1px, -270px);
    -ms-transform: translate(-1px, -270px);
    -o-transform: translate(-1px, -270px);
    transform: translate(-1px, -270px);
  }
}


.gallery__preview {
  @include relative_position;
  width: 700px;
  height: 500px;
  -webkit-transform: translateY(-135px);
  -moz-transform: translateY(-135px);
  -ms-transform: translateY(-135px);
  -o-transform: translateY(-135px);
  transform: translateY(-135px);
  @include fade;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
  opacity: 0;
  @include mQ(749px) {
    width: 400px;
    -webkit-transform: translate(150px, -120px);
    -moz-transform: translate(150px, -120px);
    -ms-transform: translate(150px, -120px);
    -o-transform: translate(150px, -120px);
    transform: translate(150px, -120px);
  }
}

.gallery__preview--search {
  @include absolute_position;
  width: 350px;
  height: 70px;
  padding: 5px;
  -webkit-transform: translate(166px, 90px);
  -moz-transform: translate(166px, 90px);
  -ms-transform: translate(166px, 90px);
  -o-transform: translate(166px, 90px);
  transform: translate(166px, 90px);
  @include fade;
  animation-delay: 5s;
  opacity: 0;
  @include mQ(749px) {
    -webkit-transform: translate(-190px, 330px);
    -moz-transform: translate(-190px, 330px);
    -ms-transform: translate(-190px, 330px);
    -o-transform: translate(-190px, 330px);
    transform: translate(-190px, 330px);
  }
}

.gallery__preview--search-input {
  border-radius: 10px;
  padding: 3%;
  background-color: $opaqueBlack;
  border-width: 0.2px;
  border-color: white;
  color: $lightPinkColor;
  margin-right: 0%;
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 290px;
  font-family: $galleryFont;
  font-size: 13px;
  -webkit-box-shadow: $insetShadow;
  -moz-box-shadow: $insetShadow;
  box-shadow: $insetShadow;
  &:focus {
    outline: none;
  }
}

.gallery__preview--projects {
  @include absolute_position;
  width: 330px;
  height: 330px;
  padding: 5px;
  -webkit-transform: translate(160px, 150px);
  -moz-transform: translate(160px, 150px);
  -ms-transform: translate(160px, 150px);
  -o-transform: translate(160px, 150px);
  transform: translate(160px, 150px);
  overflow-y: scroll;
  @include mQ(749px) {
    width: 290px;
    -webkit-transform: translate(-190px, 390px);
    -moz-transform: translate(-190px, 390px);
    -ms-transform: translate(-190px, 390px);
    -o-transform: translate(-190px, 390px);
    transform: translate(-190px, 390px);
  }
}

.gallery__preview--group-pic {
  width: 110px;
  -webkit-box-shadow: $mainShadow;
  -moz-box-shadow: $mainShadow;
  box-shadow: $mainShadow;
}

.gallery__preview--group {
  list-style: none;
  -webkit-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  padding: 18px;
  font-family: $galleryFont;
  color: $lightBlue;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    color: $lightBlue;
    text-shadow: $neonBlue;
    border-width: 1px;
    border-radius: 5px;
    -webkit-box-shadow: $insetShadow;
    -moz-box-shadow: $insetShadow;
    box-shadow: $insetShadow;
  }
  &:hover > .gallery__preview--group-pic {
    -webkit-box-shadow: $insetShadow;
    -moz-box-shadow: $insetShadow;
    box-shadow: $insetShadow;
  }
  @include mQ(745px) {
    font-size: 11px;
  }
}

.gallery__preview--group-name {
  float: right;
}

 //  clicked item display
 .gallery__preview--view {
   @include absolute_position;
   width: 331px;
   padding: 5px;
   -webkit-transform: translate(-180px, -8px);
   -moz-transform: translate(-180px, -8px);
   -ms-transform: translate(-180px, -8px);
   -o-transform: translate(-180px, -8px);
   transform: translate(-180px, -8px);
   margin-bottom: 200px;
   color: $lightBlue;
   @include mQ(749px) {
     -webkit-transform: translate(-235px, -150px);
     -moz-transform: translate(-235px, -150px);
     -ms-transform: translate(-235px, -150px);
     -o-transform: translate(-235px, -150px);
     transform: translate(-235px, -150px);
     width: 200px;
   }
 }

.gallery__preview--view-pic {
  width: $galleryPreviewWidth;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: $mainShadow;
  -moz-box-shadow: $mainShadow;
  box-shadow: $mainShadow;
  @include mQ(749px) {
    width: $galleryPreviewWidthSmall;
  }
}

.gallery__preview--view-title {
  font-family: $subtitleFont;
  width: $galleryPreviewWidth;
  height: 50px;
  background-color: $opaqueBlack;
  margin-bottom: 0;
  float: left;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: $mainShadow;
  -moz-box-shadow: $mainShadow;
  box-shadow: $mainShadow;
  color: $lightPinkColor;
  text-shadow: $neonPink;
  font-size: 16px;
  @include mQ(749px) {
    width: $galleryPreviewWidthSmall;
  }
}

.gallery__preview--view-description {
  font-family: $galleryFont;
  padding: 10px;
  width: $galleryPreviewWidth;
  height: auto;
  border-radius: 0 0 20px 20px;
  background-color: $opaqueBlack;
  margin-top: 0;
  font-size: 13px;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: $mainShadow;
  -moz-box-shadow: $mainShadow;
  box-shadow: $mainShadow;
  @include mQ(749px) {
    width: $galleryPreviewWidthSmall;
  }
}

.gallery__preview--view-description-link {
  text-align: center;
  background-color: black;
  padding: 10px 60px 10px 60px;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
  color: $lightPinkColor;
  text-shadow: $neonPink;
  font-size: 15px;
  margin-left: 80px;
  text-decoration: none;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    letter-spacing: 2px;
    margin-left: 76px;
    font-size: 16px;
  }
  @include mQ(749px) {
    margin-left: 50px;
  }
}
