/////////////////////////
//   Main SCSS File   //
///////////////////////
@import url('https://fonts.googleapis.com/css?family=Megrim');
@import "var";
@import "animation";
@import "other_mixin";
@import "name";
@import "menu";
@import "about";
@import "gallery";
@import "contact";


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $inkBlue;
    background-image: url("../../dest/mini-image/wood-medium.png");
    background-size: 400px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: $opaqueBlack;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: $opaqueBlack;
  -webkit-box-shadow: $neonBlue;
  -moz-box-shadow: $neonBlue;
  box-shadow: $neonBlue;
}
