/////////////////////////
//   Name SCSS File   //
///////////////////////
@import "var";
@import "animation";

.name__logo {
  width: 50px;
  display: block;
  margin: auto;
  padding-top: 6px;
}

.name__title {
  font-family: $titleFont;
  font-size: $titleFontSize;
  margin: 0;
  text-align: center;
  letter-spacing: 0.7em;
  @include pink_neon_flicker;
}
