/////////////////////////
//   Name SCSS File   //
///////////////////////

.name__logo {
  width: 50px;
  display: block;
  margin: auto;
  padding-top: 6px;
  -webkit-transform: translate(-10px);
  -moz-transform: translate(-10px);
  -o-transform: translate(-10px);
  -ms-transform: translate(-10px);
  transform: translate(-10px);
  position: relative;
  padding-top: 15px;
  @include spin_logo;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
  animation-delay: 2.5s;
  height: 80px;
  @include mQ(749px) {
    width: 40px;
    @include spin_logo_small;
  }
}

.name__title {
  display: block;
  margin: auto;
  padding-bottom: 10px;
  font-family: $titleFont;
  font-size: $titleFontSize;
  text-align: center;
  letter-spacing: 0.7em;
  @include pink_neon_flicker; //located at animation
  @include mQ(749px) {
    font-size: $titleFontSizeSmall;
  }
}
