/////////////////////////
//   Name SCSS File   //
///////////////////////
@import "var";


.name__logo {
  width: 50px;
  display: block;
  margin: auto;
  padding-top: 20px;
}

.name__title {
  font-family: $titleFont;
  font-size: $titleFontSize;
  margin: 0;
  text-align: center;
  color: $titleFontColor;
  letter-spacing: 0.7em;
}
