////////////////////////////////
//   Other Mixin SCSS File   //
//////////////////////////////

//  Neon Effect  //
@mixin neon_subtitles {
  display: block;
  margin: auto;
  font-family: $titleFont;
  font-size: $titleFontSize;
  @include pink_neon_flicker;
  position: relative;
  width: 300px;
  text-align: center;
  z-index: 1;
}

// Centering Absolute Position Images  //
@mixin absolute_position {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
