////////////////////////////////
//   Other Mixin SCSS File   //
//////////////////////////////

//  Neon Effect  //
@mixin neon_subtitles {
  display: block;
  margin: auto;
  font-family: $titleFont;
  font-size: $titleFontSize;
  @include pink_neon_flicker;
  position: relative;
  width: 300px;
  text-align: center;
  z-index: 1;
}

// Centering Absolute Position Images  //
@mixin absolute_position {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@mixin relative_position {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}


//  About Me Context Cube  //
@mixin about_me {
  background-color: $opaqueBlack;
  -webkit-box-shadow: $mainShadow;
  -moz-box-shadow: $mainShadow;
  -o-box-shadow: $mainShadow;
  box-shadow: $mainShadow;
}

@mixin cloud {
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2);
  width: 0px;
  @include absolute_position;
  transition: 4s ease-in-out;
}


//  contact circles  //
@mixin circles {
  border-radius: 50%;
  border-style: dashed;
  border-color: $lightBlue;
  @include absolute_position;
  z-index: -1;
  -webkit-filter: $svgShadow;
  filter: $svgShadow;
}

//  transform origin center //
@mixin transformCenter {
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}
