/////////////////////////
//   Variable SCSS    //
///////////////////////
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Megrim');



//////////////////
//   Colors    //


/////////////////
//   Fonts    //
$titleFont: "Poiret One", cursive;
$subtitleFont: "Megrim", sans-serif;
$titleFontSize: 3.3em;

//////////////////
//  Spacings   //


//////////////////
//  Shadows   //
