/////////////////////////
//   Variable SCSS    //
///////////////////////
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Megrim');



//////////////////
//   Colors    //
$titleFontColor: white ;
$subtitleFontColor: white;

/////////////////
//   Fonts    //
$titleFont: "Poiret One", cursive;
$subtitleFont: "Megrim", sans-serif;
$titleFontSize: 2.5em;
$subtitleFontSize: 1.3em;

//////////////////
//  Spacings   //


//////////////////
//  Shadows   //
